<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Medical Recorde -Day1</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="/vendor/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet" />
    <style>
        .lg-input {
            width: 100px;
        }

        .md-input {
            width: 48px;
        }


    </style>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">


    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">辅助生殖系统</h1>
        </div>


        <div class="row">

            <div class="col-lg">

                <!-- Basic Card Example -->
                <!--第一页示例-->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">辅助生殖女方</h6>
                    </div>
                    <div class="card-body">

                        <div class="row mb-3">
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-3">
                                        <label for="age">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="text" id="age" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-3">
                                        <label for="high">身&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;高</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="text" id="high" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-3">
                                        <label for="weight">体&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="text" id="weight" />
                                    </div>
                                </div>
                            </div>


                            <div class="col-3">
                                <div class="row">
                                    <div class="col-3">
                                      <label for="BMI">基础代谢率</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="text" id="BMI" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row mb-3">
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-3">
                                        <label for="AFC">基础窦卵泡数</label>
                                    </div>
                                    <div class="col">
                                        <label>右</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="text" id="AFC" />
                                    </div>
                                    <div class="col-1">
                                        <label>➕</label>
                                    </div>
                                    <div class="col">
                                        <label>左</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="text" id="AFC_1" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-3">
                                        <label for="bFSH">基础卵泡刺激素</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="text" id="bFSH" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-3">
                                        <label for="AMH">抗米勒激素</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="text" id="AMH" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-3">
                                        <label >造影HSG</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-3">
                                        <label for="leftTube">左输卵管</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="text" id="leftTube" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-3">
                                <div class="row">
                                    <div class="col-3">
                                        <label for="rightTube">右输卵管</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="text" id="rightTube" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-3">
                                <div class="row">
                                    <div class="col-3">
                                        <label for="pelvic">盆腔</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="text" id="pelvic" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row mb-3">
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-3">
                                        <label >超声</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-3">
                                        <label for="uterus_len">子宫</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="text" id="uterus_len" />
                                    </div>
                                    <div class="col-1">
                                        <label>✖️</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="text" id="uterus_width" />
                                    </div>
                                    <div class="col-1">
                                        <label>✖️</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="text" id="uterus_height" />
                                    </div>
                                    <div class="col">
                                        <label>mm³</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-3">
                                        <label for="membrane">内膜</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="text" id="membrane" />
                                    </div>
                                    <div class="col">
                                        <label>mm</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="text" id="level" />
                                    </div>
                                    <div class="col">
                                        <label>级</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-3">
                                        <label for="follicles">卵泡</label>
                                    </div>
                                    <div class="col">
                                        <label>右</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="text" id="follicles" />
                                    </div>
                                    <div class="col-1">
                                       <label>➕</label>
                                    </div>
                                    <div class="col">
                                        <label>左</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="text" id="follicles_1" />
                                    </div>

                                </div>
                            </div>


                        </div>
                        <div class="row mb-3">
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-3">
                                        <label></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-3">
                                        <label for="rightOvary">右卵巢</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="text" id="rightOvary" />
                                    </div>
                                    <div class="col-1">
                                        <label>✖️</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="text" id="rightOvary_1" />
                                    </div>
                                    <div class="col">
                                        <label>mm²</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-3">
                                <div class="row">
                                    <div class="col-3">
                                        <label for="leftOvary">左卵巢</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="text" id="leftOvary" />
                                    </div>
                                    <div class="col-1">
                                        <label>✖️</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type="text" id="leftOvary_1" />
                                    </div>
                                    <div class="col">
                                        <label>mm²</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-3">
                                <label for="leftOvary">促排卵</label>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-2">
                                        <input class="lg-input datetimepicker1" type="text"
                                               placeholder="年月日"/>
                                    </div>

                                    <div class="col-1" >
                                        <select name="hasCoh"  >
                                            <option value=""></option>
                                            <option value = "yes">有</option>
                                            <option value = "no">无</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <label>优势卵泡</label>
                                    </div>

                                    <div class="col-1" >
                                        <select name="hasOvalation"  >
                                            <option value=""></option>
                                            <option value = "yes">有</option>
                                            <option value = "no">无</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <label>排卵</label>
                                    </div>
                                    <div class="col-2">
                                        <label>临床结局</label>
                                    </div>
                                    <div class="col-1" >
                                        <select name="result"  >
                                            <option value=""></option>
                                            <option value = "failed">未孕</option>
                                            <option value="pregnancy">妊娠</option>
                                            <option value = "biochemicalPregnancy">生化</option>
                                            <option value = "arrestedEmbryo">胚停</option>
                                            <option value="lateAbortion">中期引产</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row mb-3">
                            <div class="col-3">
                                <label for="operation">手术</label>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-2">
                                        <input class="lg-input datetimepicker1" type="text" id="operation"
                                               placeholder="年月日"/>
                                    </div>
                                    <div class="col-3">
                                       <label>方式</label>
                                        <select name="way"  >
                                            <option value=""></option>
                                            <option value = "yes">宫腔镜</option>
                                            <option value = "no">腹腔镜</option>
                                            <option value="">宫腹腔镜</option>
                                            <option value="">开腹</option>
                                        </select>
                                    </div>
                                    <div class="col-3">
                                        <label>输卵管</label>
                                        <select name="way"  >
                                            <option value=""></option>
                                            <option value = "yes">右侧切除</option>
                                            <option value = "no">左侧切除</option>
                                            <option value="">双侧切除</option>
                                            <option value="">积水通液</option>
                                            <option value="">保守治疗</option>
                                        </select>
                                    </div>

                                    <div class="col-3">
                                        <label>子宫</label>
                                        <select name="way"  >
                                            <option value=""></option>
                                            <option value = "yes">肌瘤切除</option>
                                            <option value = "no">内膜息肉摘除</option>
                                            <option value="">囊肿切除</option>

                                        </select>
                                    </div>
                                    <div class="col-2"></div>
                                    <div class="col-3">
                                        <label>卵巢</label>
                                        <select name="way"  >
                                            <option value=""></option>
                                            <option value = "yes">囊肿切除</option>
                                            <option value = "no">多囊卵巢打孔</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <label>盆&nbsp;&nbsp;&nbsp;腔</label>
                                        <select name="way"  >
                                            <option value=""></option>
                                            <option value = "yes">粘连松解术</option>
                                            <option value = "no">积液积脓切除术</option>
                                        </select>
                                    </div>
                                    <div class="col-3"></div>
                                    <div class="col-2"></div>
                                    <div class="col-4">
                                        <label>临床结局</label>
                                        <select name="result"  >
                                            <option value=""></option>
                                            <option value = "failed">未孕</option>
                                            <option value="pregnancy">妊娠</option>
                                            <option value = "biochemicalPregnancy">生化</option>
                                            <option value = "arrestedEmbryo">胚停</option>
                                            <option value="lateAbortion">中期引产</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-3">
                                <label for="IUI">人工授精</label>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-2">
                                        <input class="lg-input datetimepicker1" type="text" id="IUIDate"
                                               placeholder="年月日"/>
                                    </div>
                                    <div class="col-2">
                                        <select name="IUI"  >
                                            <option value=""></option>
                                            <option value = "COH">促排卵周期</option>
                                            <option value = "NC">自然周期</option>
                                        </select>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-4">
                                        <label>临床结局</label>
                                        <select name="result"  >
                                            <option value=""></option>
                                            <option value = "failed">未孕</option>
                                            <option value="pregnancy">妊娠</option>
                                            <option value = "biochemicalPregnancy">生化</option>
                                            <option value = "arrestedEmbryo">胚停</option>
                                            <option value="lateAbortion">中期引产</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-3">
                                <label for="IVF">体外受精</label>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-2">
                                        <input class="lg-input datetimepicker1" type="text" id="IVFDate"
                                               placeholder="年月日"/>
                                    </div>
                                    <div class="col-3">
                                        <select name="IVF"  >
                                            <option value=""></option>
                                            <option value = "long">长方案</option>
                                            <option value = "short">短方案</option>
                                            <option value = "GnRH-A">拮抗剂</option>
                                            <option value = "micro-stimulation">微刺激</option>
                                            <option value = "mild-stimulation">温和刺激</option>
                                            <option value = "ultraLong">超长方案</option>
                                        </select>
                                        <label>促排</label>
                                    </div>
                                    <div class="col-4">
                                        <label>获&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;卵</label>
                                        <input class="lg-input" type="text" maxlength="100"  id="or" />枚
                                    </div>
                                    <div class="col-3">
                                        <label>成熟卵</label>
                                        <input class="lg-input" type="text" maxlength="100"  id="mo" />枚
                                    </div>
                                    <div class="col-5">
                                        <select name="IS"  >
                                            <option value=""></option>
                                            <option value = "IVF">体外受精</option>
                                            <option value = "ICSI">单精子卵母细胞胞浆内注射</option>
                                        </select>
                                        <label>受精</label>
                                    </div>
                                    <div class="col-4">
                                        <label>形成胚胎</label>
                                        <input class="lg-input" type="text" maxlength="100"  id="embryo" /><label>枚</label>
                                    </div>
                                    <div class="col-3">
                                        <label>可移植</label>
                                        <input class="lg-input" type="text" maxlength="100"  id="transferable" /><label>枚</label>
                                    </div>
                                    <div class="col-4">

                                        <select name="transfer"  >
                                            <option value=""></option>
                                            <option value = "ET">新鲜</option>
                                            <option value = "FET">冻融</option>
                                        </select>
                                        <label>移植</label>
                                        <input class="lg-input" type="text" maxlength="100"  id="tranferCount" /><label>枚</label>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-4">
                                        <label>临床结局</label>
                                        <select name="result"  >
                                            <option value=""></option>
                                            <option value = "failed">未孕</option>
                                            <option value="pregnancy">妊娠</option>
                                            <option value = "biochemicalPregnancy">生化</option>
                                            <option value = "arrestedEmbryo">胚停</option>
                                            <option value="lateAbortion">中期引产</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>

    </div>

</div>
<!-- /.container-fluid -->
</body>

<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/moment/moment.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/bootstrap.datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<script>
    $(function () {
        $('.datetimepicker1').datetimepicker({
            format: 'YYYY年MM月DD日'
        });
    })

</script>

</html>




