<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Medical Recorde -Day1</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="/vendor/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet" />
    <style>
        .lg-input {
            width: 100px;
        }

        .md-input {
            width: 48px;
        }


    </style>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">


    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">辅助生殖系统</h1>
        </div>


        <div class="row">

            <div class="col-lg">

                <!-- Basic Card Example -->
                <!--第一页示例-->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">辅助生殖女方</h6>
                    </div>
                    <div class="card-body">

                        <form class="user" method="post" action="/downloadCSV">
                        <div class="row mb-3">
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">既往病史</span>
                                    </div>

                                    <!--内部嵌套表-->
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="input-group border rounded">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input type="checkbox"
                                                                   aria-label="Checkbox for following text input" id="hepatitis"/>
                                                        </div>
                                                        <span class="form-control border-0">肝炎</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input type="checkbox"
                                                                   aria-label="Checkbox for following text input" id="tuberculosis"/>
                                                        </div>
                                                    </div>
                                                    <span class="form-control">结核</span>
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input type="checkbox"
                                                                   aria-label="Checkbox for following text input" id="kidney"/>
                                                        </div>
                                                    </div>
                                                    <span class="form-control">肾脏病</span>
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <div class="input-group border rounded">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input type="checkbox"
                                                                   aria-label="Checkbox for following text input" id="cardiovascular"/>
                                                        </div>
                                                        <span class="form-control border-0">心血管病</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-3">
                                                <div class="input-group border rounded">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input type="checkbox"
                                                                   aria-label="Checkbox for following text input" id="urinary"/>
                                                        </div>
                                                        <span class="form-control border-0">泌尿系感染</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <div class="input-group border rounded">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input type="checkbox"
                                                                   aria-label="Checkbox for following text input" id="venereal"/>
                                                        </div>
                                                        <span class="form-control border-0">性病</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <div class="input-group border rounded">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input type="checkbox"
                                                                   aria-label="Checkbox for following text input" id="appendicitis"/>
                                                        </div>
                                                        <span class="form-control border-0">阑尾炎</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="input-group border rounded">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input type="checkbox"
                                                                   aria-label="Checkbox for following text input" id="pelvicnflammatory"/>
                                                        </div>
                                                        <span class="form-control border-0">盆腔炎</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-6">
                                                <div class="input-group border rounded">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input type="checkbox"
                                                                   aria-label="Checkbox for following text input"/>
                                                        </div>
                                                    </div>
                                                    <span class="form-control border-0 col-2">手术史:</span>
                                                    <input class="form-control col-10" type="text" id="operationHistory"/>
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input type="checkbox"
                                                                   aria-label="Checkbox for following text input" id="otherReason"/>
                                                        </div>
                                                    </div>
                                                    <span class="form-control col-2">其他:</span>
                                                    <input class="form-control col-10" type="text" id="others"/>

                                                </div>
                                            </div>


                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <div class="input-group border">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">个人史</span>
                                    </div>

                                    <!--内部嵌套表-->
                                    <div>
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="input-group ml-2 border rounded">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input type="checkbox"
                                                                   aria-label="Checkbox for following text input" id="smoking"/>
                                                        </div>
                                                        <span class="form-control border-0">吸烟</span>
                                                    </div>
                                                    <input class="form-control" type="text" id="smokeCount"/>
                                                    <div class="input-group-append border-0">
                                                            <span class="form-control border-0">
                                                                <span>支/7天</span></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input type="checkbox"
                                                                   aria-label="Checkbox for following text input" id="drunk"/>
                                                        </div>
                                                    </div>
                                                    <span class="form-control">酗酒</span>

                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input type="checkbox"
                                                                   aria-label="Checkbox for following text input" id="drug"/>
                                                        </div>
                                                    </div>
                                                    <span class="form-control">吸毒</span>

                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <div class="input-group border rounded">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input type="checkbox"
                                                                   aria-label="Checkbox for following text input" id="medicines"/>
                                                        </div>
                                                        <span class="form-control border-0">习惯用药</span>
                                                    </div>
                                                    <input class="form-control" type="text" id="medicineDetail"/>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-3">
                                                <div class="input-group ml-2 border rounded">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input type="checkbox"
                                                                   aria-label="Checkbox for following text input" id="medicinesAllergic"/>
                                                        </div>
                                                        <span class="form-control border-0">药物过敏</span>
                                                    </div>
                                                    <input class="form-control" type="text" id="allergicDesc"/>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="input-group border rounded">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input type="checkbox"
                                                                   aria-label="Checkbox for following text input" id="mentalStimulation"/>
                                                        </div>
                                                        <span class="form-control border-0">精神刺激，健康:</span>
                                                        <span class="input-group-text border-0">过去</span>
                                                    </div>
                                                    <input class="form-control" type="text" id="past"/>
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text border-0">现在</span>
                                                    </div>
                                                    <input class="form-control" type="text" id="now"/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-3">
                                                <div class="input-group ml-2 border rounded">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input type="checkbox"
                                                                   aria-label="Checkbox for following text input" id="birthDefect"/>
                                                        </div>
                                                        <span class="form-control border-0">出生缺陷</span>
                                                    </div>
                                                    <input class="form-control" type="text" id="defectDetail"/>
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <div class="input-group border rounded">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input type="checkbox"
                                                                   aria-label="Checkbox for following text input" id="proximity"/>
                                                        </div>
                                                        <span class="form-control border-0">近亲结婚</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <div class="input-group border">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">家庭史</span>
                                    </div>

                                    <!--内部嵌套表-->
                                    <div class="row">
                                        <div class="col">
                                            <div class="input-group ml-2 border rounded">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <input type="checkbox"
                                                               aria-label="Checkbox for following text input" id="geneticDisease"/>
                                                    </div>
                                                    <span class="form-control border-0">遗传病</span>
                                                </div>
                                                <input class="form-control" type="text" id="description"/>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <input type="checkbox"
                                                               aria-label="Checkbox for following text input" id="infertility"/>
                                                    </div>
                                                </div>
                                                <span class="form-control">不孕不育史</span>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                            <div class = "form-group" align="center">
                                <input type="submit" value="Submit" class="btn btn-primary btn-user"/>

                                <input type="submit" value="Previous" class="btn btn-primary btn-user" onclick="history.back(1);"/>
                            </div>
                        </form>
                    </div>
                </div>



            </div>

        </div>

    </div>

</div>
<!-- /.container-fluid -->
</body>

<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/moment/moment.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/bootstrap.datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<script>
    $(function () {
        $('.datetimepicker1').datetimepicker({
            format: 'YYYY年MM月DD日'
        });
    })

</script>

</html>




