<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Medical Recorde -Day1</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.css" rel="stylesheet">
    <style>
        .lg-input {
            width: 192px;
        }

        .md-input {
            width: 48px;
        }

        .lg-input {
            width: 24px;
        }

        html,body,table{

            margin:0;

        }


    </style>

</head>

<body id="page-top" style="table-align:center;">

<!-- Page Wrapper -->
<div id="wrapper">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">病史小结</h6>
        </div>
        <div class="card-body">

            <div class="row mb-3">
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">诊断</span>
                        </div>

                        <div class="col">
                            <div class="input-group">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        1. <input type="checkbox">原发性不孕 <input type="checkbox">继发性不孕
                                    </li>
                                    <li class="list-group-item">2. <input type="checkbox">女性盆腔炎性疾病后遗症
                                    </li>
                                    <li class="list-group-item">
                                        3. <input type="checkbox">输卵管功能障碍：狭窄/粘连/通而不畅/上举/扭曲
                                        <input type="checkbox">输卵管阻塞：堵塞/结扎
                                        <input type="checkbox">输卵管缺如：切除
                                        <input type="checkbox">输卵管复通失败
                                    </li>
                                    <li class="list-group-item">4. <input type="checkbox">宫腹腔镜术后不孕
                                    </li>
                                    <li class="list-group-item">5. <input type="checkbox">高龄 <input
                                            type="checkbox">卵巢储备功能下降 <input type="checkbox">卵巢早衰 <input
                                            type="checkbox">卵巢低反应
                                    </li>
                                    <li class="list-group-item">6. <input type="checkbox">体外受精失败
                                    </li>
                                    <li class="list-group-item">7. <input type="checkbox">轻度<input
                                            type="checkbox">中度<input type="checkbox">重度子宫内膜异位症
                                    </li>
                                    <li class="list-group-item">8. <input type="checkbox">多囊卵巢综合征 治疗未孕
                                    </li>
                                    <li class="list-group-item">9. <input type="checkbox">染色体异常
                                    </li>
                                    <li class="list-group-item">10.<input type="checkbox">不明原因不孕
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">诊疗计划</span>
                        </div>

                        <!--内部嵌套表-->
                        <div class="col">
                            <div class="row">
                                <div class="col-3">
                                    <div class="input-group border rounded">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input type="checkbox"
                                                       aria-label="Checkbox for following text input">
                                            </div>
                                            <span class="form-control border-0">IVF-ET</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input type="checkbox"
                                                       aria-label="Checkbox for following text input">
                                            </div>
                                        </div>
                                        <span class="form-control">ICSI-ET</span>
                                    </div>
                                </div>

                            </div>


                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
